<div class="sidebar sidebar-style-2">			
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            Hizrian
                            <span class="user-level">Administrator</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="#profile">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#edit">
                                    <span class="link-collapse">Edit Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#settings">
                                    <span class="link-collapse">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item active">
                    <a data-toggle="collapse" href="#" class="collapsed" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                        <span class="caret"></span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="/home">
                        <i class="fa fa-home"></i>
                        <p>Home</p>
                        <span class="badge badge-count">&nbsp;</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/message">
                        <i class="fa fa-envelope"></i>
                        <p>List Message</p>
                        <span class="badge badge-count">&nbsp;</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/broadcast">
                        <i class="fa fa-paper-plane"></i>
                        <p>Send Broadcast</p>
                        <span class="badge badge-count">&nbsp;</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/sendwa">
                        <i class="fa fa-paper-plane"></i>
                        <p>Send Message</p>
                        <span class="badge badge-count">&nbsp;</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/users">
                        <i class="fa fa-users"></i>
                        <p>Users</p>
                        <span class="badge badge-count">&nbsp;</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/docs-api">
                        <i class="fa fa-file"></i>
                        <p>Docs Api</p>
                        <span class="badge badge-count">&nbsp;</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/logout">
                        <i class="fa fa-lock"></i>
                        <p>Keluar</p>
                        <span class="badge badge-count">&nbsp;</span>
                    </a>
                </li>

               
            </ul>
        </div>
    </div>
</div>